body{
	background-image: url(back.jpg)
}

h1{
	font-size: 50px;
	font-family: Candara;
}

p{
	font-size: 20px;
}

a:link {
	color: red;
}

#left { position: absolute; left: 0; top: 10px; width: 50%; }
#right { position: absolute; right: 0; top: 20px; width: 50%; } 